<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <title>Compress My Image - No file choosen</title>
    <link rel="stylesheet" href="nofile.css">
  </head>
  <body>
    <div class="Main">
      First choose a file and then click on upload
    </div>
    <div class="goback">
<a href="/"><button type="submit" name="button" class="btn"><b>Go Back to home page</b></button></a>
    </div>
  </body>
</html>
