/* Add padding around the container */
.container {
  padding: 10px; /* Adjust as needed */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 80vh; /* Adjust as needed */
}

/* Add margin to headings */
.heading {
  margin-top: 20px; /* Adjust top margin */
  margin-bottom: 20px;  
  text-align: center;
}
 
.upload {
  margin-bottom: 30px; 
}

 
.inst {
  margin-top: 20px; /* Adjust top margin */
  margin-bottom: 30px; /* Adjust bottom margin */
  text-align: center;
}

/* Add padding to footer */
footer {
  padding: 20px; /* Adjust as needed */
  margin-top: 20px;
  text-align: center;
}
 
.form-control-file {
  margin-bottom: 20px;  
}

.btn {
  margin: 10px; 
}
 


@media (max-width: 767.98px) {
  .container {
    padding: 10px;
  }

  .heading {
    font-size: 24px;
  }

  .upload {
    margin-bottom: 20px;
  }

  .inst {
    margin-top: 10px;
    margin-bottom: 20px;
  }
}
